<!DOCTYPE html>
<html>
<head>
    <title>About</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>

    <div class="container">

        <h1>About Me</h1>

        <p>
            Hello! I am Anupam.
            I am passionate about Python, Data Science,
            Machine Learning, and Web Development.
        </p>

        <h2>Education</h2>

        <p>
            B.Tech Student
        </p>

    </div>

    <footer>
        <p>© 2026 My Portfolio Website</p>
    </footer>

</body>
</html>