<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>

    <div class="container">

    <h1>My Projects</h1>

    <div class="project-card">
        <h2>Portfolio Website</h2>
        <p>Developed using Flask, HTML, and CSS.</p>
    </div>

    <div class="project-card">
        <h2>Calculator App</h2>
        <p>A simple calculator built using Python.</p>
    </div>

    <div class="project-card">
        <h2>Student Management System</h2>
        <p>Built with Python and SQLite.</p>
    </div>

</div>

    <footer>
        <p>© 2026 My Portfolio Website</p>
    </footer>

</body>
</html>